h1 {
    padding: 10px;
    width: 100vw;
    text-align: center;
    background-color: #186687;
    color: white;
    margin-bottom: 20px;
}


.video {
    display: flex;
    justify-content: center;
  }

  .arrow {
    background-color: #66bccd;
    border-color: #66bccd;
    color: #186687;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 50vh;
    display: flex;
    align-items: center;
  }
  
  .carousel-control-prev .arrow,
  .carousel-control-next .arrow {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }